<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">LivePlay</h1>
  </ion-header-bar>
  <ion-content>
  
	  <form ng-submit="doLogin()">	
      <div class="list">	
		<div class="item item-input-inset" ng-show = "duplicateID">
			<span class="input-label assertive" >Please use different name!!!</span>			
			
		</div>		  
		<div class="item item-input-inset">
			<span class="input-label">Your name  : &nbsp;&nbsp;&nbsp;   </span>
			<label class="item-input-wrapper">			
			 <input class="item-input-wrapper" type="text" ng-model="loginData.youname" ng-init="loginData.youname = you">
			</label>
		</div>
		<div class="item item-input-inset">
			<span class="input-label">Partner name :</span>
			<label class="item-input-wrapper">			
				<input type="text" ng-model="loginData.partnername"  ng-init="loginData.partnername = partner">
			</label>
		</div>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Connect</button>
        </label>
      </div>
	  
	  
    </form>
  </ion-content>
</ion-modal-view>
 