<ion-content class="gradbg">
  <div class="bar bar-subheader bar-dark no-bottom-border">
	<div class="button-bar ">
	   <a class="button button-clear"
	    ng-click = "showHideYou = false; showHidePartner = true; showHideChat = false; tog = 2; selectTabWithIndex(1)" ng-class="{ 'bold' : tog == 2}">
	  <i class="icon ion-record small-icon offline" ng-class=" {'online' : partnerOnline == true}" ></i> {{partner_name}}
	   </a>
	</div>
	</div>
  <ion-scroll style="width: 100vw; height: 100vh">
   <div class="card mycard" ng-click = "songSelected(song);" ng-repeat = "song in songs | orderBy : 'name'">
   <a href="#" class="item item-icon-left myitem">
     <i class="icon ion-music-note"></i>
     {{song.name}}
     <!-- <br>Artist name -->
   </a>
  </div>
 </ion-scroll>
</ion-content>
</ion-content>
<ion-pull-up-footer class="bar-dark" on-expand="onFooterExpand()" on-collapse="onFooterCollapse()" state="footerState" max-height="400px">
<!--         <ion-pull-up-handle icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" style="border-radius: 25px 25px 0 0;background-color:red;">
</ion-pull-up-handle>  -->
<ion-pull-up-bar>
<img id = "footerImg" class= "col col-20" ion-pull-up-trigger src="album.jpg" style="height: 50px;max-width:50px;padding:0px;">
<div class="col col-50 "ion-pull-up-trigger>{{selectedSong}}
  <!-- <br>Artist name -->
</div>
<div class="col col-10 "></div>
<a ng-if="!playpause && selectedSong !='Please select song'" class="col col-10 button button-icon  icon ion-play pull-right" ng-click = "playSong();"></a>
<a ng-if="playpause && selectedSong !='Please select song'" class="col col-10 button button-icon  icon ion-pause pull-right" ng-click = "pauseSong();"></a>
<!-- <button class="button button-clear icon ion-pause col col-10" style = "padding-top: 8px;padding-left: 0px"></button> -->
<button ng-click="openChatModal()" class="button button-icon ion-chatboxes col col-10" style = "padding-top: 8px;padding-left: 6px"><span class="badge badge-assertive" style="top:-50px;left:15px;">5</span></button>

</ion-pull-up-bar>

<ion-pull-up-content scroll="false">
<div class="list card">
<div class="item item-divider">Recent Updates1</div>
<div class="item item-body">
  <div>
    There is a fire in <b>sector 3</b>
  </div>
</div>
</div>
</ion-pull-up-content>
</ion-pull-up-footer>
