<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar>
		<h1 class="title">LivePlay</h1>
	</ion-header-bar>
    <ion-content>
	  <form ng-submit="doLogin()">		
      <div class="list">	
		<div class="item item-input-inset" ng-show = "duplicateID">
			<span class="input-label assertive" >Please use different name!!!</span>			
			
		</div>	  
		<div class="item item-input-inset">
			<span class="input-label">Your name  : &nbsp;&nbsp;&nbsp;   </span>
			<label class="item-input-wrapper">			
			 <input class="item-input-wrapper" type="text" ng-model="loginData.youname" ng-init="loginData.youname = you">
			</label>
		</div>
				<div class="item item-input-inset">
			<span class="input-label">Partner name :</span>
			<label class="item-input-wrapper">			
				<input type="text" ng-model="loginData.partnername"  ng-init="loginData.partnername = partner">
			</label>
			
		</div>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Connect</button>
        </label>
      </div>
	  
	  
    </form>
      <ion-list>
	  <!--
        <ion-item menu-close ng-click="login()">
          Change name
        </ion-item>
		-->
		<ion-item menu-toggle href="#/app/playlists/settings">
          Settings
        </ion-item>
		<!--
        <ion-item menu-close href="#/app/search">
          About
        </ion-item>
		-->
		  <button class="button button-block button-assertive" ng-click = "resetUserData();" >Reset</button>


      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
