<ion-view view-title="LivePlay">
	  <div class="bar bar-subheader bar-positive no-bottom-border">
		<div class="button-bar ">
		   <!--<a class="button button-icon icon ion-gear-b col col-10"></a>-->			  
		   <a class="button button-clear "  
			  ng-click = "showHideYou = true; showHidePartner = false; showHideChat = false; tog = 1; selectTabWithIndex(0)" ng-class="{ 'bold' : tog == 1}" >
			<i class="icon ion-record small-icon offline" ng-class=" {'online' : youOnline == true}" ></i> {{you}} ({{youCount}})
		   </a>
		   <a class="button button-clear" 
			  ng-click = "showHideYou = false; showHidePartner = true; showHideChat = false; tog = 2; selectTabWithIndex(1)" ng-class="{ 'bold' : tog == 2}">
			<i class="icon ion-record small-icon offline" ng-class=" {'online' : partnerOnline == true}" ></i> {{partner}} ({{partnerCount}})
		   </a>
		   <!--
		   <a class="button button-icon icon ion-ios-chatboxes" style = "color : #9ec0fa" 
			  ng-click = "showHideYou = false; showHidePartner = false; showHideChat = true; tog = 3" ng-class="{ 'bluecolor' : tog == 3}">
		   </a> 
		   -->
		</div>
	 </div>
	<ion-tabs class="tabs-top tabs-background-positive tabs-color-light">
		 
		 <ion-tab title="{{you}} ({{youCount}})">	
			<ion-view>
			<ion-content overflow-scroll="true">
			 <ion-list>
				<ion-item class="item item-icon-left" href="#" ng-click = "songSelected(song);" ng-repeat = "song in songs">		   
			   <i class="icon ion-music-note"></i>
			   {{song.name}}			
			   </ion-item>
			   <ion-item></ion-item>
			   <ion-item></ion-item>
				<ion-item></ion-item>
			   </ion-list>         
				<div>
					<input type="file" id="selectedFile" style="display: none;" accept="audio/*" onchange="handleFileSelect(this)"/>
					<input type="button" value="Choose song" onclick="document.getElementById('selectedFile').click();" style="height: 50px;width:80%;max-width: 250px;"/>
					<br/><br/>
					<audio controls id="audio_player" style="width:80%;max-width: 250px;"/>
				</div>	
			 </ion-content>
			</ion-view>
		 </ion-tab>
		 
		 <ion-tab title="{{partner}} ({{partnerCount}})">
			<ion-view>
			 <ion-content overflow-scroll="true">
			 <ion-list>
				<ion-item class="item item-icon-left" href="#" ng-click = "partnerSongSelected(song);" ng-repeat = "song in partnersongs">		   
				<i class="icon ion-music-note"></i>
				{{song.name}}			   
			   </ion-item>
			   	<ion-item></ion-item>
			   <ion-item></ion-item>
			 <ion-item></ion-item>
			   </ion-list>   			
			 </ion-content>
			</ion-view>
		 </ion-tab>
		 

		 
		</ion-tabs>
		  
         <div class="bar bar-footer ">		
           <h2 class="title positive" ><ion-spinner icon="android"  ng-show = "isBuffering" ></ion-spinner>&nbsp;{{selectedSong}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="button button-icon  icon ion-android-call" ng-click = "makeCall();"></a></i></h2>		
         </div> 
		<!-- 
         <div class="bar bar-subfooter "> 
            <h2 class="title positive">{{selectedSong}}</h2>			
         </div>
		 
	
         <div class="bar bar-footer">
            <div class="button-bar ">
		
               <a class="button button-icon bluecolor icon ion-music-note" ng-click = "loadSongs();"></a>
               <a class="button button-icon bluecolor icon ion-ios-skipbackward" ng-click = "sendToPeer('Hellllloooo....')"></a>
               <a class="button button-icon bluecolor icon ion-play" 		ng-click = "initApp();"></a>
               <a class="button button-icon bluecolor icon ion-ios-skipforward" ></a>
               <a class="button button-icon bluecolor icon ion-ios-telephone"></a>
			
			   <a class="button button-icon  icon ion-android-refresh" ng-click = "loadSongs();"></a>			   
               <audio style = "width : 70% ; display : none;" controls id="audio_player"/>
			 </div>
         </div>
		 -->
</ion-view>
